[data-sonner-toast] {
    @apply !border-none !bg-fs-overlay-3 !ring-1 !ring-fs-overlay-4 !rounded-xl !font-[Quicksand,sans-serif];
}

[data-sonner-toast] [data-title] {
    @apply !text-sm !text-white;
}

[data-sonner-toast] [data-description] {
    @apply !text-neutral200;
}

[data-sonner-toast][data-type='success'] [data-icon] {
    @apply !text-fs-accent;
}

[data-sonner-toast][data-type='error'] [data-icon] {
    @apply !text-red-500;
}

[data-sonner-toast][data-type='warning'] [data-icon] {
    @apply !text-yellow-400;
}
