:root {
    color-scheme: dark;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    @apply !my0 !text-4xl !font-bold;
}

h2 {
    @apply !text-3xl !font-bold;
}

h3 {
    @apply !text-2xl !font-semibold;
}

h4 {
    @apply !text-xl !font-semibold;
}

h5 {
    @apply !text-lg !font-semibold;
}

h6 {
    @apply !text-base !font-semibold;
}

p,
a,
span {
    @apply text-base;
}

a[type='button'],
button {
    @apply !text-base !font-medium;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    @apply z9999 w4 h3;
}

::-webkit-scrollbar-thumb {
    @apply z9999 bg-clip-padding border-6 border-solid border-transparent rounded-2xl bg-fs-overlay-4;
}

::-webkit-scrollbar-thumb:hover {
    @apply z9999 border-5 border-solid border-transparent;
}

::-webkit-scrollbar-track {
    @apply z9999 bg-transparent;
}

::-moz-selection {
    @apply bg-fs-accent;
}

::selection {
    @apply bg-fs-accent;
}
