[data-sonner-toast] {
    @apply !border-none !bg-fs-overlay-2 !ring-1 !ring-fs-overlay-3 !rounded-2xl !font-[Nunito_Sans,sans-serif] !p4.5;
}

[data-sonner-toast] [data-title] {
    @apply !text-sm !text-white;
}

[data-sonner-toast] [data-description] {
    @apply !text-fs-muted-1;
}

[data-sonner-toast][data-type='success'] [data-icon] {
    @apply !text-fs-accent;
}

[data-sonner-toast][data-type='error'] [data-icon] {
    @apply !text-red-500;
}

[data-sonner-toast][data-type='warning'] [data-icon] {
    @apply !text-yellow-400;
}
