# [required] See the Prisma documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=

# [optional] Directory for the uploaded files. (default: ./data)
DATA_DIRECTORY=

# [optional] Cron-based schedule for generating the statistics. See https://crontab.guru/ for syntax. (Default: '*/30 * * * *' - every 30 minutes)"
GENERATE_STATS_CRON=

# [optional] Cron-based schedule for deleting expired files. See https://crontab.guru/ for syntax. (Default: '* * * * *' - every minute)
DELETE_EXPIRED_CRON=

# [optional] The maximum size of the user avatars, in MB. (default: 4)
AVATAR_MAX_SIZE=

# [optional] The log level (0, 1, 2) (default: 2)
LOG_LEVEL=

# [optional] Whether to delete Exif data. (default: true)
REMOVE_EXIF_DATA=

# [optional] The size per chunk of the files to be uploaded, in MB. (default: 25)
NUXT_PUBLIC_FILE_CHUNK_SIZE=

# [optional] Whether to return https url in uploads. (default: auto)
NUXT_PUBLIC_RETURN_HTTPS=

# [optional] Cloudflare Turnstile configuration.
NUXT_PUBLIC_TURNSTILE_SITE_KEY=
NUXT_TURNSTILE_SECRET_KEY=

# [optional] Enable Progressive Web App support. (default: true)
ENABLE_PWA=

# [optional] Enable anonymous data collection. (default: true)
TELEMETRY_ENABLED=
